@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: "Inter", sans-serif;
}

a {
  color: #4f46e5;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #3b76d1;
}

#kc-header {
  display: none;
}

#kc-header + div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#kc-page-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  color: #2c3e50;
}

#kc-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert-error {
  margin-bottom: 24px;
}

#input-error,
#input-error-username,
#input-error-password,
#input-error-password-confirm,
#input-error-email,
#input-error-firstName,
#input-error-lastName {
  font-size: 14px;
  color: #ff1d1d;
}

#kc-form,
#kc-register-form {
  width: 400px;
  margin-bottom: 15px;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

#kc-form-login > div:nth-child(1) {
  margin-bottom: 12px;
}
#kc-form-login > div:nth-child(2) {
  margin-bottom: 32px;
}

#kc-form input[type="text"],
#kc-form input[type="password"],
#kc-register-form input[type="text"],
#kc-register-form input[type="password"] {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

#kc-form input[type="password"],
#kc-register-form input[type="password"] {
  width: calc(100% - 40px);
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

#kc-form label,
#kc-register-form label {
  font-size: 14px;
  color: #34495e;
}

#kc-form div[dir="ltr"],
#kc-register-form div[dir="ltr"] {
  position: relative;
}

#kc-form button[data-password-toggle],
#kc-register-form button[data-password-toggle] {
  position: absolute;
  top: 0px;
  right: 0px;
  appearance: none;
  height: 100%;
  width: 40px;
  padding: 8px;
  border: none;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #e2e2e2;
  cursor: pointer;
}

#kc-form button[data-password-toggle] i,
#kc-register-form button[data-password-toggle] i {
  display: block;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#kc-form button[data-password-toggle] i,
#kc-register-form button[data-password-toggle] i {
  background-image: url("./assets/eye-password-show.svg");
}

#kc-form button[data-password-toggle][aria-label="Hide password"] i,
#kc-register-form button[data-password-toggle][aria-label="Hide password"] i {
  background-image: url("./assets/eye-password-see.svg");
}

#kc-login,
#kc-register-form input[type="submit"] {
  appearance: none;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  background-color: #4f46e5;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#kc-login:hover,
#kc-register-form input[type="submit"]:hover {
  background-color: #3b76d1;
}

/* ====== extra register styles ====== */
.subtitle {
  display: none;
}

#kc-register-form > div {
  margin-bottom: 12px;
}

#kc-form-options a {
  display: inline-block;
  margin-bottom: 16px;
}
